<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Commerce Reference Store</display-name>
    <context-param>
        <param-name>atg.session.parentContextName</param-name>
        <param-value>/dyn</param-value>
    </context-param>
    <context-param>
        <param-name>atg.dafear.bootstrapContextName</param-name>
        <param-value>/dyn</param-value>
    </context-param>
    <context-param>
        <param-name>context-root</param-name>
        <param-value>crs</param-value>
    </context-param>
    <context-param>
        <param-name>atg.assembler</param-name>
        <param-value>true</param-value>
    </context-param>
    <filter>
        <filter-name>PageFilter</filter-name>
        <filter-class>atg.filter.dspjsp.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ForwardFilter</filter-name>
        <filter-class>atg.servlet.ForwardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ErrorFilter</filter-name>
        <filter-class>atg.servlet.ErrorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ErrorFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForwardFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>ADCDataInsertFilter</filter-name>
        <filter-class>atg.filter.ConditionalDelegatingFilter</filter-class>
        <init-param>
            <param-name>targetFilter</param-name>
            <param-value>
        atg.adc.filter.ADCDataInsertFilter
      </param-value>
        </init-param>
        <init-param>
            <param-name>mimeTypes</param-name>
            <param-value>text/html,dynamo-internal/html</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ADCDataInsertFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MappedJumpServlet</servlet-name>
        <servlet-class>atg.repository.seo.MappedJumpServlet</servlet-class>
        <init-param>
            <param-name>loggingDebug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jumpServlet</param-name>
            <param-value>
        ctx:dynamo:/atg/dynamo/servlet/dafpipeline/JumpServlet
      </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>NucleusServlet</servlet-name>
        <servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DynamoProxyServlet</servlet-name>
        <servlet-class>atg.nucleus.servlet.NucleusProxyServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MappedJumpServlet</servlet-name>
        <url-pattern>/jump/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>link</servlet-name>
        <servlet-class>atg.project.store.assembler.servlet.StorePreviewLinkServlet</servlet-class>
        <init-param>
            <description>
        The Nucleus component path of the default NavigationStateBuilder.
      </description>
            <param-name>navigationStateBuilderComponent</param-name>
            <param-value>/atg/endeca/assembler/cartridge/manager/NavigationStateBuilder</param-value>
        </init-param>
        <init-param>
            <description>
        The map of xmgr path versus Nucleus component paths of the NavigationStateBuilder.
      </description>
            <param-name>navigationStateBuilderComponentMap</param-name>
            <param-value>
		/storelocations=/atg/endeca/assembler/cartridge/manager/LocationNavigationStateBuilder,
		/storedetails=/atg/endeca/assembler/cartridge/manager/LocationNavigationStateBuilder
	  </param-value>
        </init-param>
        <init-param>
            <description>
        The Nucleus component path of the ContentSource.
      </description>
            <param-name>contentSourceComponent</param-name>
            <param-value>/atg/endeca/assembler/cartridge/manager/WorkbenchContentSource</param-value>
        </init-param>
        <init-param>
            <description>
        The Nucleus component path of the Endeca SiteManager.
      </description>
            <param-name>endecaSiteManagerComponent</param-name>
            <param-value>/atg/endeca/assembler/multisite/SiteManager</param-value>
        </init-param>
        <init-param>
            <description>
        The Nucleus component path of the ATG SiteManager.
      </description>
            <param-name>atgSiteManagerComponent</param-name>
            <param-value>/atg/multisite/SiteManager</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>link</servlet-name>
        <url-pattern>/link.json/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>atg.taglib.dspjsp.RegisterELResolverServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-context.xml</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/global/pageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/global/serverError.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/global/sessionExpired.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/includes/prelude.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
